#define SENSOR_PIN D2
#define SENSOR_POWER_PIN D7

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// How often to report data, in microseconds. 900e6 is 15 minutes.
#define REPORTING_INTERVAL 900e6

#define HTTP_HOST ""

// Optimally, this hould be 32 bytes, high-entropy
const uint8_t hmacKey[] = {0x00, 0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07};
